<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mc2techservices.kidsreadassistant">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Kids Reader"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AddModDel"
            android:label="" />
        <activity
            android:name=".Reader"
            android:label=""
            android:theme="@style/Widget.AppCompat.ActionBar" />
        <activity android:name=".PreLaunch">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TableOfUserData"
            android:label="" />
        <activity
            android:name=".DownloadUserContent"
            android:label="" />
        <activity
            android:name=".Splashscreen"
            android:label="" />
        <activity
            android:name=".TableOfOurData"
            android:label="" />
        <activity
            android:name=".TableOfUserDataMD"
            android:label="" />
        <activity
            android:name=".Settings"
            android:label="" />
        <activity android:name=".ParentMode" />
        <activity android:name=".KidMode" />
        <activity android:name=".TestActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".About" />
        <activity android:name=".TestActivityDialogs"></activity>
    </application>

</manifest>